---
import { getCollection } from 'astro:content';
import H1 from '../components/H1.astro';
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
import FeaturedPost from '../components/FeaturedPost.astro';
import CategoryList from '../components/CategoryList.astro';
import PostList from '../components/PostList.astro';

const allPosts = await getCollection('posts');
const featuredPosts = allPosts.filter((post) => post.data.featured);
const posts = allPosts.filter((post) => !post.data.featured).slice(0, 4);
const AllCategories = posts.flatMap(post => post.data.categories);
const categories = Array.from(new Set(AllCategories));

---

<Layout title="Welcome to Astro.">
	<Main class="px-24 max-sm:px-5 max-w-7xl mx-auto w-full">
		<H1 text="A Coder's Life" />
		<p class="text-2xl mb-24 max-sm:mb-14"> Chronicles of a Dev in the Digital Trenches</p>
		{ featuredPosts.map(post => <FeaturedPost post={post} />)}

		<hr class="w-full border mb-16 max-sm:mb-10">
		<div class="grid grid-cols-[auto,1fr] gap-x-14 gap-y-3 mb-16 max-lg:grid-cols-1">
			<h2 class="font-bold text-5xl">Recent Post</h2>
			<CategoryList categories={categories}/>
		</div>
		<div class="mb-32">
			<PostList posts={posts} />
		</div>
	</Main>
</Layout>

