---
import { Icon } from 'astro-icon';
---

<footer class="bg-zinc-800 py-20 pb-6 px-5 max:sm:pb-3 max-sm:pt-8">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap text-left lg:text-left">
          <div class="w-full lg:w-6/12 px-4">
            <h4 class="text-3xl font-semibold">Let's keep in touch!</h4>
            <h5 class="text-lg mt-0 mb-2">
              Find us on any of these platforms, we respond 1-2 business days.
            </h5>
            <div class="flex flex-row gap-4"> <!-- Set width and height as needed -->
              <Icon name="logos:linkedin" class="h-8 mt-4"/>
              <Icon name="logos:github" class="h-8 mt-4"/>
              <Icon name="jam:twitter-square" class="h-10 mt-4"/>
            </div>

          </div>
          <div class="w-full lg:w-6/12 px-4">
            <form>
              <header class="footer-title">Newsletter</header>
              <fieldset class="form-control w-80">
                <label class="label">
                  <span class="label-text">Enter your email address</span>
                </label>
                <div class="join">
                  <input type="text" placeholder="username@site.com" class="input input-bordered join-item" />
                  <button class="btn btn-primary join-item">Subscribe</button>
                </div>
              </fieldset>
            </form>

          </div>
        </div>

      </div>
    </footer>
</footer>